<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="cob3_3_move_platform">
        <param name="group" type="string" value="platform" />
        <remap from="arm_ik" to="cob3_3_platform_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="platform_controller/follow_joint_trajectory" />
    </node>
</launch>
