<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="cob3_3" >
  
  <!-- common stuff -->
  <include filename="$(find cob_hardware_config)/cob3-3/urdf/cob3-3-macro.urdf.xacro" />
 
  <!-- base_placement -->
<!--
  <include filename="$(find cob_description)/urdf/base_placement/base_placement.urdf.xacro"/>
-->

  <!-- lookat -->
  <include filename="$(find cob_description)/urdf/lookat/lookat.urdf.xacro" />
  

<!--
  <xacro:cob_base_placement name="base_placement"/>
  <joint name="base_placement_helper_joint" type="fixed">
    <parent link="base_placement_theta_link"/>
    <child link="base_footprint"/>
  </joint>  
-->
 
  <!-- composition of the robot -->
  <xacro:cob3-3/> 
  
  <xacro:cob_lookat name="lookat" parent="torso_upper_neck_tilt_link">
    <origin xyz="${head_x} ${head_y} ${head_z}" rpy="${head_roll} ${head_pitch} ${head_yaw}" />
    <axis xyz="-1 0 0"/>
  </xacro:cob_lookat>

</robot>
