<?xml version="1.0"?>
<launch>

	<!-- send table urdf to param server -->
	<param name="milk_description" command="$(find xacro)/xacro.py $(find cob_gazebo_objects)/objects/milk.urdf" />

	<!-- push table_description to factory and spawn robot in gazebo -->
	<node name="spawn_milk" pkg="gazebo" type="spawn_model" args="-urdf -param milk_description -x 0.65 -y 1.21 -z 1.5 -model milk_model" respawn="false" output="screen" />

</launch>
