<?xml version="1.0"?>
<launch>

	<!-- send table urdf to param server -->
	<param name="table_ikea_description" command="$(find xacro)/xacro.py $(find cob_gazebo_objects)/objects/table_ikea.urdf.xacro" />

	<!-- push table_description to factory and spawn robot in gazebo -->
	<node name="spawn_table" pkg="gazebo" type="spawn_model" args="-urdf -param table_ikea_description -x 1.025 -y 1.1617 -z 0.1 -model table_ikea_model" respawn="false" output="screen" />

</launch>
