<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="sdhx" >

  <xacro:include filename="$(find cob_description)/urdf/cob4_gripper/gripper.urdf.xacro" />

  <link name="grasp_link"/>

  <xacro:gripper name="gripper" parent="grasp_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:gripper>

</robot>
