<launch>
<!--
    <node pkg="cob_manipulator" type="kinematics_node" name="test_arm_kinematics_intern" output="screen">
        <param name="group" type="string" value="arm" />
        <param name="use_collision_map" type="bool" value="false" />
        <param name="arm/root_name" type="string" value="arm_0_link" />
        <param name="arm/tip_name" type="string" value="arm_7_link" />
        <param name="arm/robot" type="string" value="$(env ROBOT)" />
        <param name="kinematics_solver" type="string" value="cob3_arm_kinematics/KDLArmKinematicsPlugin" />
    </node>
-->
    <node pkg="cob_kinematics" type="ik_wrapper_node" name="test_arm_kinematics" output="screen" launch-prefix="gdb -ex run --args">
        <param name="srvs_prefix" type="string" value="/cob_arm_kinematics/" />
<!--
        <param name="link_names" type="string" value="arm_7_link" />
-->
    </node>
</launch>
