<?xml version="1.0"?>
<launch>
   <node machine="pc1"  pkg="robot_self_filter" type="self_filter" name="cob3_tof_self_filter" output="screen">

     <remap from="robot_description" to="robot_description" />
     
     <!-- The topic for the input cloud -->
     <!--remap from="cloud_in" to="full_cloud_known2" /-->
     <!--remap from="cloud_in" to="/point_cloud2_filtered_amp" /-->
     <remap from="cloud_in" to="/outlier_removal/output" />
     
     <!-- The topic for the output cloud -->
     <remap from="cloud_out" to="outlier_self_filtered2" />

     <!-- The frame of the sensor used to obtain the data to be
     filtered; This parameter is optional. If it is not specified,
     shadow points will be considered outside. default: "" -->
     <param name="sensor_frame" type="string" value="/tof_link" />	
     	
     <!-- The resolution in cm to use for voxelized subsampling prior to self filtering. 
     For dense data the self filter procedure will be too expensive on dense point cloud data. 
     Set to 0.0 to disable. -->
     <param name="subsample_value" type="double" value=".01"/>

     <rosparam command="load" file="$(find lwa_arm_navigation)/config/self_filter.yaml" />

   </node>
</launch>
