<?xml version="1.0"?>
<launch>

	<group>
	    <!-- for all -->
	    <include file="$(find cob_arm_navigation)/launch/cob_planning_environment.launch" />
	    <include file="$(find cob_arm_navigation)/launch/environment_server.launch"/>
	    <include file="$(find cob_arm_navigation)/launch/ompl_planning.launch" />
	    <include file="$(find cob_arm_navigation)/launch/trajectory_filter_server.launch" />

	    <include file="$(find cob_arm_navigation)/config/$(env ROBOT)/constraint_aware_kinematics.launch" />
	    <include file="$(find cob_arm_navigation)/config/$(env ROBOT)/move_groups.launch" />
	</group>

<!--
	<group>
		<include file="$(find cob_arm_navigation)/launch/kinect_perception.launch" />
	</group>
-->

</launch>
