<launch>
    <include file="$(find cob3_3_arm_navigation)/launch/cob3_3_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="cob3_3_arm_kinematics">
        <param name="group" type="string" value="arm" />
        <param name="arm/root_name" type="string" value="base_footprint" />
        <param name="arm/tip_name" type="string" value="sdh_palm_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="cob3_3_torso_kinematics">
        <param name="group" type="string" value="torso" />
        <param name="torso/root_name" type="string" value="base_footprint" />
        <param name="torso/tip_name" type="string" value="head_cover_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="cob3_3_tray_kinematics">
        <param name="group" type="string" value="tray" />
        <param name="tray/root_name" type="string" value="base_footprint" />
        <param name="tray/tip_name" type="string" value="torso_tray_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
