<launch>
    <include file="$(find cob_hardware_config)/common/upload_robot.launch" >
	    <arg name="robot" value="$(env ROBOT)" />
    </include>
    <include file="$(find cob_arm_navigation)/launch/planning_environment.xml" />
    <include file="$(find planning_environment)/launch/planning_environment_visualization_prerequisites.launch" />
    <include file="$(find cob_arm_navigation)/launch/constraint_aware_kinematics.xml" />
    <include file="$(find cob_arm_navigation)/launch/ompl_planning.xml" />
    <include file="$(find cob_arm_navigation)/launch/trajectory_filter_server.xml" />
    <node pkg="rviz" type="rviz" name="rviz_planning_components" args="-d $(find cob_manipulation_config)/common/planning_components_visualizer.vcg" />
    <node pkg="move_arm" type="planning_components_visualizer" name="planning_components_visualizer" output="screen">
        <remap from="/cob3_1_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_1_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/cob3_2_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_2_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/cob3_3_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_3_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/cob3_4_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_4_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/cob3_5_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_5_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/cob3_6_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/cob3_6_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/icob_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/icob_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
        <remap from="/powerball_arm_kinematics/get_constraint_aware_ik" to="/cob_arm_kinematics/get_constraint_aware_ik"/>
        <remap from="/powerball_arm_kinematics/get_ik" to="/cob_arm_kinematics/get_ik"/>
    </node>
    <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
</launch>
