<?xml version="1.0"?>
<launch>
        <arg name="robot" default="$(env ROBOT)"/>

	<include file="$(find cob_arm_navigation)/launch/arm_navigation_ompl.launch">
		<arg name="robot" value="$(arg robot)" />
	</include>
	
	<!--<node name="state_transformer" pkg="state_transformer" type="state_transformer" respawn="false" output="screen" /> -->
	
	<node name="object_handler" pkg="cob_object_handler" type="object_handler" respawn="false" output="screen" />
</launch>
