<?xml version="1.0"?>
<launch>
  <arg name="load_robot_description" default="false"/>
  <arg name="robot" default="$(env ROBOT)"/>
  <arg name="config_path" default="$(find cob_moveit_config)/$(arg robot)/config"/>
  
  <!-- Load SRDF -->
  <include file="$(find cob_moveit_config)/launch/planning_context.xml">
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
    <arg name="robot" value="$(arg robot)" />
    <arg name="config_path" value="$(arg config_path)" />
  </include>

  <node pkg="obstacle_distance" type="obstacle_distance_node" name="obstacle_distance_node" output="screen"/>

</launch>
