<?xml version="1.0"?>
<launch>
	<node name="cluster_bounding_box_finder" pkg="object_manipulator" cwd="node" type="cluster_bounding_box_finder_server.py" output="screen" respawn="false" >
		<param name="z_up_frame" value="/base_link" />
	</node>
	  <!--gripper grasp posture controllers-->

<node name="cob_gripper_grasp_controller_sdh" pkg="cob_gripper_grasp_controller_sdh" type="cob_gripper_grasp_controller_sdh.py" respawn="false" output="screen"/>


  <!-- hand descriptions TODO: make this cob3 compatible-->
  <rosparam command="load" file="$(find cob_object_manipulation_launch)/config/pr2_hand_descriptions.yaml"/>

  <!-- ar^m configurations TODO: make this cob3 compatible -->
  <rosparam command="load" file="$(find pr2_object_manipulation_launch)/config/pr2_arm_configurations.yaml"/>
  <include file="$(find pr2_gripper_grasp_planner_cluster)/launch/schunk_hand_grasp_planner_cluster_server.launch"/>

	  <node name="object_manipulator" pkg="object_manipulator"
    type="object_manipulator_node" respawn="false" output="screen">

      <remap from="right_arm/constraint_aware_ik" to="/cob3_3_arm_kinematics/get_constraint_aware_ik" />    
      <remap from="left_arm/constraint_aware_ik" to="/cob3_3_arm_kinematics/get_constraint_aware_ik" />    

      <remap from="right_arm/get_fk" to="/cob3_3_arm_kinematics/get_fk" />    
      <remap from="left_arm/get_fk" to="/cob3_3_arm_kinematics/get_fk" />    

      <remap from="right_arm/interpolated_ik" to="/cob3_3_interpolated_ik_motion_plan" />    
      <remap from="left_arm/interpolated_ik" to="/cob3_3_interpolated_ik_motion_plan" />    

      <remap from="right_arm/interpolated_ik_set_params" to="/cob3_3_interpolated_ik_motion_plan_set_params" />    
      <remap from="left_arm/interpolated_ik_set_params" to="/cob3_3_interpolated_ik_motion_plan_set_params" />    

      <remap from="right_arm/get_ik_solver_info" to="/cob3_3_arm_kinematics/get_ik_solver_info" />    
      <remap from="left_arm/get_ik_solver_info" to="/cob3_3_arm_kinematics/get_ik_solver_info" />    

      <remap from="right_arm/reactive_grasp" to="/reactive_grasp/right" />    
      <remap from="left_arm/reactive_grasp" to="/reactive_grasp/left" />    

      <remap from="right_arm/reactive_lift" to="/reactive_lift/right" />    
      <remap from="left_arm/reactive_lift" to="/reactive_lift/left" />

      <remap from="right_arm/reactive_place" to="/reactive_place/right" />    
      <remap from="left_arm/reactive_place" to="/reactive_place/left" />

      <remap from="right_arm/get_state_validity" to="/environment_server/get_state_validity" />    
      <remap from="left_arm/get_state_validity" to="/environment_server/get_state_validity" />    

      <remap from="right_arm/move_arm" to="/move_arm" />    
      <remap from="left_arm/move_arm" to="/move_arm" />    

      <remap from="right_arm/joint_trajectory" to="/arm_controller/joint_trajectory_action" />    
      <remap from="left_arm/joint_trajectory" to="/arm_controller/joint_trajectory_action" />    

      <remap from="right_arm/hand_posture_execution" to="/sdh_gripper_grasp_posture_controller" />    
      <remap from="left_arm/hand_posture_execution" to="/sdh_gripper_grasp_posture_controller" />

      <remap from="right_arm/grasp_status" to="/sdh_gripper_grasp_status" />
      <remap from="left_arm/grasp_status" to="/sdh_gripper_grasp_status" />

      <remap from="switch_controller" to="pr2_controller_manager/switch_controller"/>
      <remap from="list_controllers" to="pr2_controller_manager/list_controllers"/>
      <remap from="right_arm/cart/command_pose" to="/r_cart/command_pose" />
      <remap from="left_arm/cart/command_pose" to="/l_cart/command_pose" />
      <remap from="right_arm/cart/command_posture" to="/r_cart/command_posture" />
      <remap from="left_arm/cart/command_posture" to="/l_cart/command_posture" />
      <remap from="right_arm/cart/gains" to="/r_cart/gains" />
      <remap from="left_arm/cart/gains" to="/l_cart/gains" />
      <param name="right_arm_cartesian_controller" value="r_cart" />
      <param name="left_arm_cartesian_controller" value="l_cart" />
      <param name="right_arm_joint_controller" value="r_arm_controller" />
      <param name="left_arm_joint_controller" value="l_arm_controller" />

      <param name="default_cluster_planner" value="/plan_point_cluster_grasp" />
      <param name="default_database_planner" value="/objects_database_node/database_grasp_planning" />     
      <param name="default_probabilistic_planner" value="/probabilistic_grasp_planning" />

      <param name="randomize_grasps" value="false" />

  </node>





</launch>
